<footer class="footer mt-auto py-3 bg-light border-top">
    <div class="container text-center" id="FpaddingClass">
        <nav class="Fnav">
            <a href="{{ url_for('main.index') }}">Home</a> |
            <a href="{{ url_for('main.about') }}">About Us</a> |
            <a href="{{ url_for('main.visa_services') }}">Visa Services</a> |
            <a href="{{ url_for('main.programs') }}">Programs</a> |
            <a href="{{ url_for('main.contact') }}">Contact Us</a>
        </nav>
        <span class="text-muted"
            >&copy; 2025 Doumbouyah-Dev All rights reserved.</span
        >
    </div>
</footer>
