{% extends 'base.html' %} {% block title %}Contact Us - Travency{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Contact Us</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Your Email</label>
            <input type="email" class="form-control" name="email" required />
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>
            <input type="text" class="form-control" name="subject" required />
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea
                class="form-control"
                name="message"
                rows="4"
                required
            ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
</div>
{% endblock %}
