


{% extends 'base.html' %} {% block title %}Home - YourAppName{% endblock %} {%
block content %}
<div class="container-fluid text-center hero_image" id="heroo">
    <h1>Welcome to YourAppName!</h1>
    <p class="lead">This is your home page. Build something amazing!</p>
    {% if not current_user.is_authenticated %}
    <a href="{{ url_for('main.signup') }}" class="btn btn-primary me-2"
        >Get Started</a
    >
    <a href="{{ url_for('main.signin') }}" class="btn btn-outline-primary"
        >Login</a
    >
    {% else %}
    <a href="{{ url_for('main.profile') }}" class="btn btn-success"
        >Go to Profile</a
    >
    {% endif %}
</div>
{% endblock %}


